*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Poppins", sans-serif;
  --hero-logo-font: "Herr Von Muellerhoff", cursive;
  --heading-font: "Montserrat", sans-serif;
  --main-background-right-color: #5b42ab;
  --section-width: min(80rem, 80vw);
  --product-details-width: 80%;
  --yellow: #927e45;
  --dark-yellow: #5b513c;
  --pink: #4a6952;
  --dark-pink: #d35596;
  --old-price: #642f2f;
  --light-red: #96295a;
  --white: white;
  --section-heading-font-size: clamp(2.5rem, 2.5vw, 8rem);
  --letter-spacing: 0.04em;
  --border-radius: 10px;
  --add-to-cart-font-size: 1rem;
  --add-to-cart-padding: 0.47em;
  --footer-background: rgba(189, 14, 14, 0.5);
  --nav-item-hover-background: rgba(255, 255, 255, 0.7);
}

html {
  scroll-behavior: smooth;
}

body {

  background: linear-gradient(
    to right,
    var(--main-background-right-color),
    var(--main-background-right-color)
  );
}

img {
  width: 100%;
}

/************************************** Navbar ***********************************/

header {
  display: flex;
  height: 5.8rem;
  position: fixed;
  z-index: 200;
  width: 100%;
  transition: all 0.3s;
}

.nav-scrolled {
  --nav-item-hover-background: rgba(255, 255, 255);
  background-color: rgb(97, 64, 200);
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.9));
}

#hero {
  background: url(../img/hero-bg.jpg) no-repeat;
  background-size: cover;
  height: 108%;
  width: 100%;
  
}

/* Black background to cover the bright background and balance contrast */
#hero {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 0;
}

#logo {
  flex: 1 0.5;
  height: 100%;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 2px #000000;
  z-index: 1;
}

.logo__link {
  font-family: var(--heading-font);
  color: var(--yellow);
  font-size: clamp(2.4rem, 5vw, 4rem);
  padding-left: 0.4em;
  text-decoration: none;
}

.nav,
.nav__links {
  display: flex;
  list-style-type: none;
  height: 100%;
}

.nav__item {
  margin: 1.5rem;
  text-decoration: none;
  color: var(--white);
  font-size: clamp(1.4rem, 1vw, 2rem);
  padding: 0 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.2s linear;
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.nav__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(0%) translateY(100%);
  background-color: var(--main-background-left-color);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.1s linear;
  transition-property: background-color color border-radius;
}

.nav__links .nav__item:hover {
  background-color: var(--nav-item-hover-background);
  color: black;
  border-radius: 5px;
  text-shadow: none;
}

.nav__links .nav__item:hover::after {
  transform: translateY(80%);
}

.nav__item--underline {
  border-bottom: 3px solid var(--white);
}
.nav__item:hover .nav__item--underline {
  border-color: transparent;
}

.nav__item--cart {
  border: 0;
  cursor: pointer;
  background: transparent;
}

.burger {
  display: none;
  z-index: 1000;
}

/* Media quries(Burger) */
@media screen and (max-width: 1020px) {
  header {
    height: 5.5rem;
  }

  .burger {
    display: block;
    cursor: pointer;
    padding: 0.2em;
  }

  .burger span {
    padding: 0.1rem 1.3rem;
    background: var(--white);
    margin: 0.3rem 0;
    display: block;
    transition: transform 0.5s ease;
  }

  .nav__links {
    background-color: var(--yellow);
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    flex-direction: column;
    justify-content: space-around;
    transition: transform 0.5s ease;

    align-items: center;
  }

  .nav-open {
    transform: translate(-100%);
  }

  .toggle {
    z-index: 2000;
  }

  .toggle .line1 {
    transform: rotateZ(48deg) translateY(376%);
  }

  .toggle .line2 {
    transform: translateX(500%);
  }
  .toggle .line3 {
    transform: rotateZ(-46deg) translateY(-403%);
  }

  .nav__item--cart {
    font-size: clamp(1.6rem, 3vw, 2rem);
    padding: 0;
  }

  .nav__links .nav__item {
    width: 10rem;
    padding: 0.5em 0;
  }
}

@media screen and (max-width: 450px) {
  header {
    height: 5rem;
  }

  .logo__link {
    font-size: 1.5rem;
  }

  .nav__item--cart {
    font-size: 1.5rem;
  }
  .fa-shopping-cart {
    padding: 0.2em;
  }

  .burger {
    margin-left: 0;
    padding: 0.25rem;
  }

  .burger span {
    padding: 0.07em 0.8em;
    margin: 0.25rem 0;
  }
  .toggle .line1 {
    transform: rotateZ(48deg) translateY(365%);
  }

  .toggle .line3 {
    transform: rotateZ(-46deg) translateY(-332%);
  }
}

/************************************** End Navbar ***********************************/

/************************************** Hero banner ***********************************/
#hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6rem);
  flex-direction: column;
  overflow-x: hidden;
}

.hero-text__heading {
  margin-top: 2rem;
  font-family: var(--hero-logo-font);
  color: var(--yellow);
  font-size: clamp(7rem, 8.6vw, 12rem);
  font-weight: normal;
  text-shadow: 3px 3px 4px #000000;
  z-index: 1;
}

.hero-text__tagline {
  margin-top: -2rem;
  font-size: clamp(1rem, 2vw, 3rem);
  font-size: clamp(1.3rem, 2vw, 3rem);
  width: clamp(26rem, 45vw, 90rem);
  color: var(--white);
  text-align: center;
  letter-spacing: var(--letter-spacing);
  text-shadow: 2px 2px 4px #000000;
  font-family: var(--heading-font);
  font-weight: 500;
  z-index: 1;
}

@media screen and (max-width: 450px) {
  .hero-text__heading {
    font-size: 5.6rem;
  }
  .hero-text__tagline {
    font-size: 1.1rem;
    margin-top: -1rem;
    width: 20rem;
  }
}

/************************************** End Hero banner ***********************************/

/* To overcome margin collapsing */
#main-container {
  padding: 1px;
  overflow: hidden;
  align-items: center;
  justify-content: center;  
  display: flex;

}



/* Giving yummy sticks section less margin */
section:nth-of-type(3) {
  margin-top: 1rem;
}

.special-flavours__heading {
  color: var(--yellow);
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: var(--section-heading-font-size);
}

.special-flavours__products-grid {
  margin-top: 1rem;
  background: url(../img/grit.0f8155d3.png) 1700px, var(--pink);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 2em;
  gap: 20px;
}

.special-flavours__products {
  background: var(--dark-pink);
  border-radius: 10px;
  padding: 1em;
}

.special-flavour__content-details {
  width: var(--product-details-width);
  margin: auto;
  white-space: nowrap;
}

.special-flavours__product-name {
  font-family: var(--heading-font);
  font-size: 1.5rem;
  color: var(--white);
  text-shadow: 2px -2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
}

.special-flavours__product-price {
  color: var(--white);
  text-shadow: 2px -2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
}

.special-flavours__product-price span {
  text-shadow: none;
  color: black;
  text-decoration: line-through;
}

@media screen and (max-width: 450px) {
  .special-flavours__heading {
    font-size: 2.1rem;
  }

  .special-flavours__products-grid {
    padding: 1em;
  }
}

/************************************** End Special flavour ***********************************/

/************************************** Featured products***********************************/
.featured-products-wrapper {
  overflow: hidden;
}

.featured-products {
  max-width: var(--section-width);
  margin: 4rem auto 10rem;
  background: url(../img/grit.0f8155d3.png) 1700px, var(--pink);
  background-size: cover;
  border-radius: 20px;
  position: relative;
  padding: 3em;
  --add-to-cart-font-size: 1.3rem;
  --add-to-cart-padding: 0.38em;
}

.featured-products:nth-of-type(3) {
  margin-bottom: 1rem;
}

.featured-products h4 {
  font-size: clamp(2.2rem, 4vw, 6rem);
  margin: 1rem auto 2rem;
  font-family: var(--heading-font);
  font-weight: normal;
  color: var(--white);
  text-shadow: 2px -2px 4px rgba(0, 0, 0, 0.5);
}

.featured-products p {
  font-size: clamp(1.3rem, 1.8vw, 3.5rem);
  width: var(--product-details-width);
  margin: 3rem 0 1.5rem;
  color: rgb(0, 0, 0, 0.8);
  text-shadow: 2px -2px 4px rgba(255, 255, 255, 0.3);
}

.featured-products img {
  float: right;
  shape-outside: url(../img/feast-chocolate.webp);
  shape-margin: 2.5rem;
  margin: -12rem -15rem 0 0;
  transform: rotate(34deg);
  width: 43rem;
}

/* Media queries */
@media screen and (max-width: 1100px) {
  .featured-products {
    margin: 0rem auto 4rem;
    padding: 2em;
  }

  .featured-products img {
    float: none;
    transform: rotate(0);
    width: 20rem;
    display: block;
    margin: auto;
  }

  .featured-products h4 {
    margin: 0;
  }

  .featured-products p {
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .featured-products {
    line-height: 1.8rem;
  }
  .featured-products img {
    width: 15rem;
  }
  .featured-products h4 {
    font-size: 1.8rem;
  }

  .featured-products p {
    font-size: 1.2rem;
  }
}

/************************************** End Featured products***********************************/

/************************************** Why us? ***********************************/
.special-flavours__yummy-sticks .special-flavour__content-details {
  --product-details-width: 65%;
}

.why-us {
  max-width: var(--section-width);
  margin: auto;
}

.why-us__reasons-wrapper {
  background: url(../img/blackgrit.png) 1700px, var(--dark-yellow);
  margin: 1rem 0;
  padding: 2em;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.why-us__reasons {
  border-radius: 5px;
  background: var(--white);
  width: 25%;
  padding: 1.5em 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: clamp(1rem, 1.3vw, 3rem);
  text-align: center;
  margin: 0.5rem;
}

.why-us__reasons img {
  width: 50%;
  padding-bottom: 1em;
}

/* Media queries */
@media screen and (max-width: 750px) {
  .why-us__reasons img {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .why-us__reasons-wrapper {
    flex-direction: column;
  }
  .why-us__reasons img {
    width: 30%;
  }
  .why-us__reasons {
    width: 100%;
    padding: 0.5em;
  }
}

@media screen and (max-width: 450px) {
  .why-us__reasons {
    width: 90%;
  }
}

@media screen and (max-width: 390px) {
  .why-us__heading {
    font-size: 1.8rem;
  }
}

/************************************** End Why us? ***********************************/

/************************************** Checkout cart ***********************************/

/************************************** End Checkout cart ***********************************/

/************************************** Footer ***********************************/
footer {
  background: var(--footer-background);

  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

footer h5 {
  font-size: clamp(2rem, 2vw, 3rem);
  font-family: var(--heading-font);
  color: var(--yellow);
  margin: 0.5rem 0;
}

footer p {
  font-size: clamp(1rem, 1vw, 3rem);
}

.address,
.me {
  color: var(--white);
}

.me {
  margin-top: 1rem;
}

.contact-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1.5rem, 1fr));
}

.contact i,
.contact a {
  font-size: 3rem;
  color: rgb(0, 0, 0, 0.6);
  width: 3rem;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-github:hover,
.fa-codepen:hover {
  color: #fff;
}

.fa-instagram:hover {
  filter: drop-shadow(0px 0px 1px black);
  background: linear-gradient(
    to bottom,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45,
    #ffdc80
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 400px) {
  .address,
  .me {
    font-size: 0.8rem;
  }
  .contact i,
  .contact a {
    font-size: 2rem;
  }
}

/************************************** End Footer ***********************************/

/************************************** Product hover animation ***********************************/
.animate-img {
  animation: animate-img 0.3s alternate ease;
  animation-iteration-count: 2;
}

.animate-featured-img {
  animation: animate-featured-img 0.3s alternate ease;
  animation-iteration-count: 2;
}

.already-added {
  background-color: var(--light-red);
  filter: brightness(80%);
  cursor: not-allowed;
}

.already-added:hover {
  background-color: var(--light-red);
}

/* For smaller screen sizes */
@media screen and (max-width: 1100px) {
  .animate-featured-img {
    animation: animate-img 0.3s alternate ease;
    animation-iteration-count: 2;
  }
}

@keyframes animate-featured-img {
  from {
    transform: rotate(34deg);
  }
  to {
    transform: rotate(34deg) scale(1.05);
  }
}

@keyframes animate-img {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
.hotline-phone-ring-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
}
.hotline-phone-ring {
  position: relative;
  visibility: visible;
  background-color: transparent;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 11;

  transition: visibility .5s;
  left: 0;
  bottom: 0;
  display: block;
}
.hotline-phone-ring-circle {
	width: 85px;
  height: 85px;
  bottom: 140px;
  left: 1256px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #e60808;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.5;
}
.hotline-phone-ring-circle-fill {
	width: 55px;
  height: 55px;
  bottom: 154px;
  left: 1270px;
  position: absolute;
  background-color: rgba(230, 8, 8, 0.7);
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.hotline-phone-ring-img-circle {
	background-color: #e60808;
	width: 33px;
  height: 33px;
  bottom: 163px;
  left: 1282px;
  position: absolute;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotline-phone-ring-img-circle .pps-btn-img {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.hotline-phone-ring-img-circle .pps-btn-img img {
	width: 20px;
	height: 20px;
}
.hotline-bar-phone {
  position: absolute;
  background: rgba(230, 8, 8, 0.75);
  height: 40px;
  width: 180px;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  background-size: 100%;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  z-index: 9;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px !important;
  /* width: 175px !important; */
  left: 1280px;
  bottom: 160px;
}
.hotline-bar-phone > a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-indent: 50px;
  display: block;
  letter-spacing: 1px;
  line-height: 40px;
  font-family: Arial;
}
.hotline-bar-phone > a:hover,
.hotline-bar-phone > a:active {
  color: #fff;
}
@-webkit-keyframes phonering-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: 0.1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: 0.1;
  }
}
@-webkit-keyframes phonering-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.6;
  }
}
  @-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
      -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
      -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
      -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
  }
@media (max-width: 768px) {
  .hotline-bar {
    display: none;
  }
}
.Login_account {
    position: relative;
    margin-top: 80px;
    width: 450px;
    height: auto;
    background-color: #dedede;
    border-radius: 5px;
   

}

.lable_login {
    padding: 20px 130px;
    font-size: 30px;
    font-weight: bold;
    color: #130f40;
}

.login_form {
    padding: 20px 40px;
}
.login_form .font {
    font-size: 18px;
    color: #130f40;
    margin: 5px 0;
}
.login_form input {
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 16px;
    outline: none;
    border-radius: 3px;
    border: 1px solid silver;
}
.login_form input:hover {
    border-radius: 4px;
    background: whitesmoke;
    border-bottom: 1px solid blue;
}
.login_form input:focus {
    background: lightblue;
}
.login_form .font_2 {
    margin-top: 30px;
}
.login_form button {
    margin: 45px 0 30px 0;
    height: 45px;
    width: 360px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    background: #1A237E;
    border-radius: 4px;
    border: 1px solid #3949AB;
    transition: .5s;
}

.login_form button:hover {
    background: #1a259f;
}
.login_form #email_error, .login_form #pass_error {
    margin-top: 5px;
    width: 345px;
    font-size: 16px;
    color: #C62828;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}
.register_account {
  position: relative;
  margin-top: 80px;
  width: 450px;
  height: auto;
  background-color: #dedede;
  border-radius: 5px;
 

}
.register_form {
    position: relative;
    margin-top: 5px;
    width: 450px;
    height: 620px;
    background-color: #dedede;
    border-radius: 5px;
    padding: 20px 40px;

}

.register_form .font {
    font-size: 18px;
    color: #130f40;
    margin: 5px 0;
}
.register_form input {
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 16px;
    outline: none;
    border-radius: 3px;
    border: 1px solid silver;
}
.register_form input:hover {
    border-radius: 4px;
    background: whitesmoke;
    border-bottom: 1px solid blue;
}
.register_form input:focus {
    background: lightblue;
}
.register_form .font_2 {
    margin-top: 30px;
}
.register_form button {
    margin: 45px 0 30px 0;
    height: 45px;
    width: 360px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    background: #1A237E;
    border-radius: 4px;
    border: 1px solid #3949AB;
    transition: .5s;
}

.register_form button:hover {
    background: #1a259f;
}
.register_form #email_error, .login_form #pass_error {
    margin-top: 5px;
    width: 345px;
    font-size: 16px;
    color: #C62828;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}
.lable_register {
    padding: 20px 160px;
    font-size: 30px;
    font-weight: bold;
    color: #130f40;
}

  @media (max-width: 549px){
  .float-contact{
  display:none
  }
}
/* Zalo */
.hotline-zalo-ring-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
}
.hotline-zalo-ring {
  position: relative;
  visibility: visible;
  background-color: transparent;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 11;

  transition: visibility .5s;
  left: 0;
  bottom: 0;
  display: block;
}
.hotline-zalo-ring-circle {
	width: 85px;
  height: 85px;
  bottom: -6px;
  left: 1256px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #3040ce;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.5;
}
.hotline-zalo-ring-circle-fill {
	width: 55px;
  height: 55px;
  bottom: 12px;
  left: 1270px;
  position: absolute;
  background-color: rgba(48, 43, 142, 0.7);
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.hotline-zalo-ring-img-circle {
	background-color: #3040ce;
	width: 33px;
  height: 33px;
  bottom: 24px;
  left: 1282px;
  position: absolute;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotline-zalo-ring-img-circle .pps-btn-img {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.hotline-zalo-ring-img-circle .pps-btn-img img {
  width: 20px;
	height: 20px;
}

.hotline-bar-zalo {
  position: absolute;
  background: #3040ce;
  height: 40px;
  width: 180px;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  background-size: 100%;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  z-index: 9;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px !important;
  /* width: 175px !important; */
  left: 1280px;
  bottom: 20px;
}
.hotline-bar-zalo > a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-indent: 50px;
  display: block;
  letter-spacing: 1px;
  line-height: 40px;
  font-family: Arial;
}
.hotline-bar-zalo > a:hover,
.hotline-bar-zalo > a:active {
  color: #fff;
}
/* Facebook*/
.hotline-facebook-ring-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999999;
}
.hotline-facebook-ring {
  position: relative;
  visibility: visible;
  background-color: transparent;
  width: 110px;
  height: 110px;
  cursor: pointer;
  z-index: 11;

  transition: visibility .5s;
  left: 0;
  bottom: 0;
  display: block;
}
.hotline-facebook-ring-circle {
	width: 85px;
  height: 85px;
  bottom: 66px;
  left: 1256px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #4bb06d;
  -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0.5;
}
.hotline-facebook-ring-circle-fill {
	width: 55px;
  height: 55px;
  bottom: 82px;
  left: 1272px;
  position: absolute;
  background-color: rgba(11, 93, 38, 0.7);
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.hotline-facebook-ring-img-circle {
	background-color: #098829;
	width: 33px;
  height: 33px;
  bottom: 92px;
  left: 1282px;
  position: absolute;
  background-size: 20px;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotline-facebook-ring-img-circle .pps-btn-img {
	display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.hotline-facebook-ring-img-circle .pps-btn-img img {
	width: 20px;
	height: 20px;
}
/*facebook  */
.hotline-bar-facebook {
  position: absolute;
  background: rgba(30, 118, 36, 0.75);
  height: 40px;
  width: 180px;
  line-height: 40px;
  border-radius: 3px;
  padding: 0 10px;
  background-size: 100%;
  cursor: pointer;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  z-index: 9;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50px !important;
  /* width: 175px !important; */
  left: 1280px;
  bottom: 90px;
}
.hotline-bar-facebook > a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-indent: 50px;
  display: block;
  letter-spacing: 1px;
  line-height: 40px;
  font-family: Arial;
}
.hotline-bar-facebook > a:hover,
.hotline-bar-facebook > a:active {
  color: #fff;
}